.App {
  text-align: center;
}

.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 250;
}

.navbar .logo a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}

.navbar .logo .arrow {
  color: #f26419;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}

.navbar {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #33648A;
}

.nav-left-grouping {
    color: #ffffff;
  display: flex;
  align-items: center;
}

.nav-mid {
    color: #ffffff;
  display: flex;
  gap: 30px;
  margin-left: 100px;
}
