.App {
  text-align: center;
}

.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 250;
}

.navbar .logo a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}

.navbar .logo .arrow {
  color: #f26419;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}

.navbar {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #33648a;
}

.line_item_view_options {
  font-family: "Inter", sans-serif;
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  gap: 50px;
}

.nav-left-grouping {
  color: #ffffff;
  display: flex;
  align-items: center;
}

.nav-mid {
  color: #ffffff;
  display: flex;
  gap: 30px;
  margin-left: 100px;
}

.nav-right {
  color: #ffffff;
  display: flex;
  gap: 30px;
  margin-right: 35px;
}
.navbar a.navbar-highlighted {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
}

.borrow-base-nav {
  font-family: "Inter", sans-serif;
  background-color: #86bbdb;
  display: flex;
  gap: 30px;
  padding: 10px;
  padding-left: 295px;
}

.borrow-base-nav a:link,
.borrow-base-nav a:visited,
.borrow-base-nav a:hover,
.borrow-base-nav a:active {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.borrow-base-nav a.borrow-base-nav-highlighted {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.config-nav {
  font-family: "Inter", sans-serif;
  background-color: #86bbdb;
  display: flex;
  gap: 90px;
  padding: 10px;
  padding-left: 295px;
}

.config-nav a:link,
.config-nav a:visited,
.config-nav a:hover,
.config-nav a:active {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.config-nav a.config-nav-highlighted {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.debt-facility-create {
  padding-top: 20px;
  padding-left: 150px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.config-facility-nav {
  font-family: "Inter", sans-serif;
  background-color: #f6ae2d;
  display: flex;
  gap: 22px;
  left: 240px;
  position: relative;
  top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 175px;
  border-radius: 20px;
}

.config-facility-nav a:link,
.config-facility-nav a:visited,
.config-facility-nav a:hover,
.config-facility-nav a:active {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.config-facility-nav a.config-facility-nav-highlighted {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.row-1-new-debt-facility {
  display: flex;
  gap: 50px;
}

.row-2-new-debt-facility {
  display: flex;
  gap: 50px;
}

.alertMessage {
  margin-top: 10px;
  margin-left: 25px;
  color: #33648a;
  font-size: 16px;
  font-weight: 800;
}

.ag-theme-alpine .ag-header {
  background-color: #2f4858 !important;
}

.ag-theme-alpine .ag-header-cell-label {
  color: #ffffff !important;
}
